<div style="margin-bottom: 20px; border-style: outset;">
    <div style="display: flex;position: relative; justify-content: space-between;">
        <div style="margin-left: 10px;"  >
            <h4 style="color: rgb(120, 120, 120); margin: 0px; padding:5px 5px 5px 0;">{{job["title"]}}</h4>
            <div style="margin-bottom: 4px;"><b>Location:</b> {{job["location"]}}</div>
            <div style="margin-bottom: 4px;"><b>Salary:</b> {{job["salary"]}}</div>
        </div>
        <div style="padding: 20px;">
            <button style="width: 80px; height: 30px; border-radius: 5px; color: whitesmoke; background-color: rgb(24, 114, 216);:hover{background-color: white;}">Apply</button>
        </div>
    </div>
</div>